/* .imgg {
    size: 10px;
} */



.skills-section {
    /*background: mistyrose;*/
}

.skills-section h3 {
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 50px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .skills-section h3 {
        text-align: center;
        margin-top: 30px;
        font-size: 16px;
    }
}

.skills-section .skill-icon {
    padding-bottom: 15px;
    height: 120px;
    padding-left: 20px;
    padding-right: 12px;
}

@media screen and (max-width: 360px) {
    .skills-section .skill-icon {
        padding-bottom: 0;
        height: 100px;
    }
}

.skills-section .skill-icon img {
    margin: 0 auto;
    width: 90px;
    /* height: auto; */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.skills-section .skill-icon img:hover {
    -webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.1);
}

@media screen and (min-width: 450px) {
    .skills-section .skill-icon img#html {
        width: 50px;
    }
    .skills-section .skill-icon img#css {
        width: 50px;
    }
    .skills-section .skill-icon img#sass {
        margin-top: 20px;
        width: 60px;
    }
    .skills-section .skill-icon img#js {
        width: 50px;
    }
    .skills-section .skill-icon img#node {
        width: 50px;
        /* padding: auto; */
    }
    .skills-section .skill-icon img#java {
        margin-top: 15px;
        width: 50px;
    }
    .skills-section .skill-icon img#python {
        margin-top: 20px;
        width: 50px;
    }
    .skills-section .skill-icon img#jquery {
        margin-top: 15px;
        width: 60px;
    }
    .skills-section .skill-icon img#bootstrap {
        margin-top: 20px;
        width: 60px;
    }
    .skills-section .skill-icon img#foundation {
        margin-top: 20px;
        width: 60px;
    }
    .skills-section .skill-icon img#node {
        margin-top: 10px;
        width: 80px;
    }
    .skills-section .skill-icon img#mongodb {
        /* margin-top: 30px; */
        width: 50px;
        /* padding: auto; */
        padding-left: 0px;
    }
}

@media screen and (min-width: 985px) {
    .skills-section .skill-icon img#node {
        /* margin-top: -10px; */
    }
}

@media screen and (max-width: 450px) {
    .skills-section .skill-icon img {
        width: 100%;
        height: auto;
    }
}

.ffl {
    display: flex;
    padding-left: 15px;
}
.textt {
    color: #FFCC00;
    padding-left: 32px;
}


